.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d32;
    padding: 1em;
}

.logo {
    width: 10rem;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 2em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}
